{{template "header"}}

<h1>Meteor</h1>

<ul>
{{ range .Frontend }}
<li><a href="{{ .Site }}">{{ .Site }}</a> 
{{ if .Version }}
<a href="https://github.com/unee-t/frontend/commit/{{ .Version }}">
<span {{ if not (isCurrent "https://github.com/unee-t/frontend" .Version) -}} class="outdated" {{- end }}>
{{ .Version }}</span></a>
{{- else }}
NO VERSION FOUND
{{- end }}
</li>
{{- end }}
</ul>



<h1>Bugzilla</h1>

<ul>
{{ range .Bugzilla }}
<li><a href="{{ .Site }}">{{ .Site }}</a> 
{{ if .Version }}
<a href="https://github.com/unee-t/bugzilla-customisation/commit/{{ .Version }}">
<span {{ if not (isCurrent "https://github.com/unee-t/bugzilla-customisation" .Version) -}} class="outdated" {{- end }}>
{{ .Version }}</span></a>
{{- else }}
NO VERSION FOUND
{{- end }}
</li>
{{- end }}
</ul>


{{template "footer"}}
